<%- include("./partials/head") %>
<%- include("./partials/header")%>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Registrate</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2 class="col-12">
            <form action="./index.ejs" method="get">
                <label for="email">Email: 
                    <input type="email" id="email" name="email">
                </label>
                <label for="usuario">Usuario:
                    <input type="text" id="usuario" name="usuario" >
                </label>
                <label for="contrasenia">Contraseña:
                    <input type="password" id="contrasenia" name="contrasennia" >
                </label>
                <label for="cumpleanios">Fecha de Nacimiento:
                    <input type="date" id="cumpleanios" name="cumpleanios" >
                </label>
                <label for="dni">Número de documento:
                    <input type="number" id="dni" name="dni" >
                </label>
                <label for="foto">Foto de perfil :
                    <input type="text" id="foto" name="foto">
                </label>
                <button type="submit">Registrarse</button>
            </form>
        </h2>

<%- include("./partials/footer") %>